*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#nameOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: monospace;
}

#nameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, button {
    font-size: 20px;
    margin: 10px;
    font-family: monospace;
}

#threeCanvas {
    display: none;
}